<!DOCTYPE html>
<html>
<head>
  <title>DataEngineering</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div>
  <% if current_user %>
    Signed in as <%= current_user.name %>!
    <%= link_to "Sign out", signout_path %>

    <% flash.each do |name, msg| %>
      <div><%= msg %></div>
    <% end %>

    <%= yield %>
  <% else %>
    <%= link_to "Sign in with OAuth Developer", "/auth/developer" unless Rails.env.production? %>
    <%= link_to "Sign in with Twitter", "/auth/twitter" %>
  <% end %>
</div>

</body>
</html>
